# Copyright (C) 2021 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on boot
    # Allow system to manipulate kprofiles modes and parameters
    chown system system /sys/module/kprofiles/parameters/auto_kprofiles
    chmod 0660 /sys/module/kprofiles/parameters/auto_kprofiles
    chown system system /sys/module/kprofiles/parameters/kp_mode
    chmod 0660 /sys/module/kprofiles/parameters/kp_mode

    # FPS Info permissions
    chown system graphics /sys/class/drm/sde-crtc-0/measured_fps
    chmod 0666 /sys/class/drm/sde-crtc-0/measured_fps

    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/anti_flicker
    chmod 0660 /sys/devices/platform/soc/soc:qcom,dsi-display/anti_flicker

    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display/hbm
    chmod 0660 /sys/devices/platform/soc/soc:qcom,dsi-display/hbm

    # Allow system to adjust haptic level directly
    chown system system /sys/devices/platform/soc/a8c000.i2c/i2c-2/2-005a/ulevel
    chmod 0664 /sys/devices/platform/soc/a8c000.i2c/i2c-2/2-005a/ulevel

    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_val
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_cont
