# Copyright (c) 2021 dlwlrma123
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

on property:sys.performance.level=0
    write /dev/stune/top-app/schedtune.boost 1
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/force_bus_on 0
    write /sys/class/kgsl/kgsl-3d0/force_clk_on 0
    write /sys/class/kgsl/kgsl-3d0/force_no_nap 0
    write /sys/class/kgsl/kgsl-3d0/force_rail_on 0
    write /sys/class/kgsl/kgsl-3d0/idle_timer 64
    write /sys/class/kgsl/kgsl-3d0/throttling 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 768000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1708800
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 806400
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_freq 1843200
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1324800 6:1324800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 100
    write /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/governor bw_hwmon
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/module/lpm_levels/parameters/lpm_ipi_prediction 1
    write /sys/module/lpm_levels/parameters/lpm_prediction 1
    write /sys/class/kgsl/kgsl-3d0/min_pwrlevel 5
    write /dev/cpuset/foreground/cpus 2-7
    write /dev/cpuset/background/cpus 4-5
    write /dev/cpuset/top-app/cpus 0-5
    write /proc/sys/kernel/sched_upmigrate 71
    write /proc/sys/kernel/sched_downmigrate 65
    write /proc/sys/kernel/sched_group_downmigrate 85
    write /proc/sys/kernel/sched_group_upmigrate 100
    write /proc/sys/kernel/sched_min_task_util_for_boost 51
    write /proc/sys/kernel/sched_min_task_util_for_colocation 35

on property:sys.performance.level=1
    write /dev/stune/top-app/schedtune.boost 2
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/force_bus_on 1
    write /sys/class/kgsl/kgsl-3d0/force_clk_on 1
    write /sys/class/kgsl/kgsl-3d0/force_no_nap 1
    write /sys/class/kgsl/kgsl-3d0/force_rail_on 1
    write /sys/class/kgsl/kgsl-3d0/idle_timer 64
    write /sys/class/kgsl/kgsl-3d0/throttling 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 768000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1708800
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 806400
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_freq 1843200
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1324800 6:1324800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 100
    write /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/governor bw_hwmon
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/module/lpm_levels/parameters/lpm_ipi_prediction 1
    write /sys/module/lpm_levels/parameters/lpm_prediction 1
    write /sys/class/kgsl/kgsl-3d0/min_pwrlevel 5
    write /dev/cpuset/foreground/cpus 2-7
    write /dev/cpuset/background/cpus 4-5
    write /dev/cpuset/top-app/cpus 0-6
    write /proc/sys/kernel/sched_upmigrate 85
    write /proc/sys/kernel/sched_downmigrate 65
    write /proc/sys/kernel/sched_group_downmigrate 85
    write /proc/sys/kernel/sched_group_upmigrate 100
    write /proc/sys/kernel/sched_min_task_util_for_boost 51
    write /proc/sys/kernel/sched_min_task_util_for_colocation 35

on property:sys.performance.level=2
    write /dev/stune/top-app/schedtune.boost 3
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 1
    write /sys/class/kgsl/kgsl-3d0/force_bus_on 0
    write /sys/class/kgsl/kgsl-3d0/force_clk_on 0
    write /sys/class/kgsl/kgsl-3d0/force_no_nap 0
    write /sys/class/kgsl/kgsl-3d0/force_rail_on 0
    write /sys/class/kgsl/kgsl-3d0/idle_timer 72
    write /sys/class/kgsl/kgsl-3d0/throttling 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 768000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1708800
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 806400
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_freq 1843200
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1324800 6:1324800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 100
    write /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/governor bw_hwmon
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/module/lpm_levels/parameters/lpm_ipi_prediction 1
    write /sys/module/lpm_levels/parameters/lpm_prediction 1
    write /sys/class/kgsl/kgsl-3d0/min_pwrlevel 4
    write /dev/cpuset/foreground/cpus 0-5
    write /dev/cpuset/background/cpus 4-5
    write /dev/cpuset/top-app/cpus 0-7
    write /proc/sys/kernel/sched_upmigrate 75
    write /proc/sys/kernel/sched_downmigrate 65
    write /proc/sys/kernel/sched_group_downmigrate 85
    write /proc/sys/kernel/sched_group_upmigrate 100
    write /proc/sys/kernel/sched_min_task_util_for_boost 51
    write /proc/sys/kernel/sched_min_task_util_for_colocation 35

on property:sys.performance.level=3
    write /dev/stune/top-app/schedtune.boost 4
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 2
    write /sys/class/kgsl/kgsl-3d0/force_bus_on 0
    write /sys/class/kgsl/kgsl-3d0/force_clk_on 0
    write /sys/class/kgsl/kgsl-3d0/force_no_nap 0
    write /sys/class/kgsl/kgsl-3d0/force_rail_on 0
    write /sys/class/kgsl/kgsl-3d0/idle_timer 80
    write /sys/class/kgsl/kgsl-3d0/throttling 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 768000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1708800
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 806400
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_freq 1843200
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1324800 6:1324800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 100
    write /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/governor bw_hwmon
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/module/lpm_levels/parameters/lpm_ipi_prediction 1
    write /sys/module/lpm_levels/parameters/lpm_prediction 1
    write /sys/class/kgsl/kgsl-3d0/min_pwrlevel 3
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/background/cpus 5-7
    write /dev/cpuset/top-app/cpus 0-7
    write /proc/sys/kernel/sched_upmigrate 71
    write /proc/sys/kernel/sched_downmigrate 65
    write /proc/sys/kernel/sched_group_downmigrate 71
    write /proc/sys/kernel/sched_group_upmigrate 85
    write /proc/sys/kernel/sched_min_task_util_for_boost 45
    write /proc/sys/kernel/sched_min_task_util_for_colocation 30

on property:sys.performance.level=4
    write /dev/stune/top-app/schedtune.boost 6
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 2
    write /sys/class/kgsl/kgsl-3d0/force_bus_on 1
    write /sys/class/kgsl/kgsl-3d0/force_clk_on 1
    write /sys/class/kgsl/kgsl-3d0/force_no_nap 1
    write /sys/class/kgsl/kgsl-3d0/force_rail_on 1
    write /sys/class/kgsl/kgsl-3d0/idle_timer 120
    write /sys/class/kgsl/kgsl-3d0/throttling 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 768000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1708800
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 806400
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_freq 1843200
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1324800 6:1324800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 100
    write /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/governor performance
    write /sys/module/lpm_levels/parameters/sleep_disabled 1
    write /sys/module/lpm_levels/parameters/lpm_ipi_prediction 0
    write /sys/module/lpm_levels/parameters/lpm_prediction 0
    write /sys/class/kgsl/kgsl-3d0/min_pwrlevel 2
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/background/cpus 6-7
    write /dev/cpuset/top-app/cpus 0-7
    write /proc/sys/kernel/sched_upmigrate 80
    write /proc/sys/kernel/sched_downmigrate 50
    write /proc/sys/kernel/sched_group_downmigrate 60
    write /proc/sys/kernel/sched_group_upmigrate 80
    write /proc/sys/kernel/sched_min_task_util_for_boost 40
    write /proc/sys/kernel/sched_min_task_util_for_colocation 25

on property:sys.performance.level=5
    write /dev/stune/top-app/schedtune.boost 8
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 2
    write /sys/class/kgsl/kgsl-3d0/force_bus_on 1
    write /sys/class/kgsl/kgsl-3d0/force_clk_on 1
    write /sys/class/kgsl/kgsl-3d0/force_no_nap 1
    write /sys/class/kgsl/kgsl-3d0/force_rail_on 1
    write /sys/class/kgsl/kgsl-3d0/idle_timer 250
    write /sys/class/kgsl/kgsl-3d0/throttling 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 768000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1708800
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 806400
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_freq 1843200
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1324800 6:1324800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 100
    write /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/governor performance
    write /sys/module/lpm_levels/parameters/sleep_disabled 1
    write /sys/module/lpm_levels/parameters/lpm_ipi_prediction 0
    write /sys/module/lpm_levels/parameters/lpm_prediction 0
    write /sys/class/kgsl/kgsl-3d0/min_pwrlevel 1
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/background/cpus 6-7
    write /dev/cpuset/top-app/cpus 0-7
    write /proc/sys/kernel/sched_upmigrate 60
    write /proc/sys/kernel/sched_downmigrate 25
    write /proc/sys/kernel/sched_group_downmigrate 35
    write /proc/sys/kernel/sched_group_upmigrate 70
    write /proc/sys/kernel/sched_min_task_util_for_boost 35
    write /proc/sys/kernel/sched_min_task_util_for_colocation 20

on property:sys.performance.level=6
    write /dev/stune/top-app/schedtune.boost 10
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 3
    write /sys/class/kgsl/kgsl-3d0/force_bus_on 1
    write /sys/class/kgsl/kgsl-3d0/force_clk_on 1
    write /sys/class/kgsl/kgsl-3d0/force_no_nap 1
    write /sys/class/kgsl/kgsl-3d0/force_rail_on 1
    write /sys/class/kgsl/kgsl-3d0/idle_timer 99999
    write /sys/class/kgsl/kgsl-3d0/throttling 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1324800
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1804800
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 1094400
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_freq 2304000
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1708800 6:1843200"
    write /sys/module/cpu_boost/parameters/input_boost_ms 120
    write /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/governor performance
    write /sys/module/lpm_levels/parameters/sleep_disabled 1
    write /sys/module/lpm_levels/parameters/lpm_ipi_prediction 0
    write /sys/module/lpm_levels/parameters/lpm_prediction 0
    write /sys/class/kgsl/kgsl-3d0/min_pwrlevel 0
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/background/cpus 6-7
    write /dev/cpuset/top-app/cpus 0-7
    write /proc/sys/kernel/sched_upmigrate 60
    write /proc/sys/kernel/sched_downmigrate 15
    write /proc/sys/kernel/sched_group_downmigrate 25
    write /proc/sys/kernel/sched_group_upmigrate 50
    write /proc/sys/kernel/sched_min_task_util_for_boost 0
    write /proc/sys/kernel/sched_min_task_util_for_colocation 0
